

@media (min-width: 768px) {

  .small-screen-img{
    position:relative;
    top:130px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:800px;
   }
   
 
  .smallie{
    width:100%;
    overflow:hidden;
 position:relative;
    bottom:130px;
   }
 
 
 /*DETAILS*/
 
   .details{
    padding-top:0px;
   padding-bottom:0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     position:relative;
      bottom:30px;
   }
   
   .details-text-card{
   display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   padding-top:30px;
   }
  
   
    
   /* CAPTURED */
   
   .captured{
   display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     padding-top:15px;
   }
    
   .cap-img-card img{
    width:100%;
   }
   
   .cap-img-card{
   width:50%;
   overflow:hidden;
   }
   
    /* ABOUT */
  
 .about{
	 padding:100px;
   background-image: url('/assets/images/ABBBBBT.jpg') !important;
   background-blend-mode: overlay;
   background-size: cover;
	 background-repeat: no-repeat;
  background-color:rgba(6, 6, 6, 0.626);
  color:white;
	 }
  
  .about-text-card{
   position:relative;
   left:-50px;
   padding:15px;
   width:50%;
  }
  
  .about-text-card p{
	 padding-bottom:15px;
   padding-top:10px;
  text-align:justify;
   font-size:17px;
  }
  
  
  /* FAQ STYLE RULES */
  
 #faq h1{
   padding:3px;
 }
   
   .faq-mother{
	 background-color:black;
	 color:white;
	 border-radius:5px;
	margin:50px;
   position:relative;
    bottom:35px;
	
   }
   
   
   .faq-header{
	 padding:10px;
	 font-size:14px;
	 cursor:pointer;
	 position:relative;
  
   }
   
  
   /* END OF FAQ STYLE RULES */
 

  /* COMPANIES */
.companies{
text-align:center;
	 position:relative;
	 bottom:55px;
}


.color{
	background-color:#e4e4e4;
}




	
 }
 
 @media (min-width: 1024px) {
 

  .small-screen-img{
    position:relative;
    top:130px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     height:700px;
   }

	 .home-img{
		 position:relative;
    bottom:100px;
	 }
 
  .smallie{
    width:100%;
    overflow:hidden;

   }


 /*DETAILS*/
 
   .details-text-card{
   display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   padding-top:30px;
	   width:80%;
   }
  
   
 
   /* CAPTURED */
   
   .captured{
   display:flex;
    justify-content:center;
    align-items:center;
     padding-top:15px;
   }
    
   .capture-mother{
    display:grid;
    grid-template-columns: repeat(2,450px);
    justify-content:center;
    align-items:center;
    
   }

   .cap-img-card img{
    width:100%;
   }
   
   .cap-img-card{
   width:450px;
   height:450px;
   overflow:hidden;
   }


 
  /* FAQ STYLE RULES */
  
 #faq h1{
   padding:10px;
 }
   
   .faq-mother{
	 background-color:black;
	 color:white;
	 border-radius:5px;
	margin:90px;
   position:relative;
    bottom:75px;
	
   }
   
   
   .faq-header{
	 padding:10px;
	 font-size:14px;
	 cursor:pointer;
	 position:relative;
  
   }
   
  
   /* END OF FAQ STYLE RULES */


 /* COMPANIES */
.companies{
text-align:center;
	 position:relative;
	 bottom:105px;
}



.com-img-card img{
	width:150px;
}

.color{
	background-color:#ededed;
}

 
	 
 }
 
 

 
 @media (min-width: 1321px) {
 

  .small-screen-img{
    position:relative;
    top:130px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     height:1000;
   }

	 .home-img{
		 position:relative;
    bottom:100px;
	 }
 
   .move{
    position:relative;
    bottom:500px;
   }
  .smallie{
    width:100%;
    overflow:hidden;

   }


 /*DETAILS*/
 
   .details-text-card{
   display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   padding-top:30px;
	   width:80%;
   }
  
   
 
   /* CAPTURED */
   
   .captured{
   display:flex;
    justify-content:center;
    align-items:center;
     padding-top:15px;
   }
    
   .capture-mother{
    display:grid;
    grid-template-columns: repeat(2,450px);
    justify-content:center;
    align-items:center;
    
   }

   .cap-img-card img{
    width:100%;
   }
   
   .cap-img-card{
   width:450px;
   height:450px;
   overflow:hidden;
   }


 
  /* FAQ STYLE RULES */
  
 #faq h1{
   padding:10px;
 }
   
   .faq-mother{
	 background-color:black;
	 color:white;
	 border-radius:5px;
	margin:90px;
   position:relative;
    bottom:75px;
	
   }
   
   
   .faq-header{
	 padding:10px;
	 font-size:14px;
	 cursor:pointer;
	 position:relative;
  
   }
   
  
   /* END OF FAQ STYLE RULES */


 /* COMPANIES */
.companies{
text-align:center;
	 position:relative;
	 bottom:105px;
}



.com-img-card img{
	width:150px;
}

.color{
	background-color:#ededed;
}

 
    /* ABOUT */
  
    .about{
      padding:180px;
      background-image: url('/assets/images/ABBBBBT.jpg') !important;
      background-blend-mode: overlay;
      background-size: cover;
      background-repeat: no-repeat;
     background-color:rgba(6, 6, 6, 0.626);
     color:white;
      }
     
     .about-text-card{
      position:relative;
      left:-50px;
      padding:15px;
      width:30%;
     }
     
     .about-text-card p{
      padding-bottom:15px;
      padding-top:10px;
     text-align:justify;
      font-size:17px;
     }
     
     
     /* FAQ STYLE RULES */
	 
 }
 
 
